<!DOCTYPE html>
<html>
  <head>
    <title>WildLives</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     
     <script type="text/javascript">
      window.logoutLogo = "<%= image_url('logout_icon.png') %>";
      window.accountLogo = "<%= image_url('account_dropdown_icon.png') %>";
      window.slothLogo = "<%= image_url('sloth_logo.png') %>";
      window.homeLogo = "<%= image_url('home_icon.png') %>";
      window.close = "<%= image_url('close.png') %>";
      window.comment = "<%= image_url('comment.png') %>";
      window.slothFriends = "<%= image_url('sloth_friends.png') %>";
      window.modifyPost = "<%= image_url('modify_post_icon.png') %>";
      window.editIcon = "<%= image_url('edit_icon.png') %>";
      window.deleteIcon = "<%= image_url('delete_icon.png') %>";
      window.photoUpload = "<%= image_url('photo_upload.png') %>";
      window.addFriend = "<%= image_url('add_friend.png') %>";
      window.camera = "<%= image_url('camera.png') %>";
      window.critical = "<%= image_url('critical.png') %>";
      window.endangered = "<%= image_url('endangered.png') %>";
      window.vulnerable = "<%= image_url('vulnerable.png') %>";
      window.iucn = "<%= image_url('iucn.png') %>";
      window.wwf = "<%= image_url('wwf.png') %>";
      window.github = "<%= image_url('github.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.defaultPic = "<%= image_url('default_pic.png') %>";
      window.angellist = "<%= image_url('angellist.png') %>";
    </script>

    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('sloth_logo.png') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
